*
!.dockerignore
!.gitignore
!AUTHORS.md
!CMakeLists.txt
!CONTRIBUTING.md
!Dockerfile
!GPMF_bitstream.h
!GPMF_common.h
!GPMF_parser.c
!GPMF_parser.h
!GPMF_utils.h
!GPMF_utils.c
!LICENSE-APACHE
!LICENSE-MIT
!LICENSE.txt
!README.md
!demo/GPMF_demo.c
!demo/GPMF_mp4reader.c
!demo/GPMF_mp4reader.h
!demo/GPMF_print.c
!demo/makefile
!docs/README.md
!docs/_config.yml
!docs/favicon.png
!docs/readmegfx/CameraIMUOrientationSM.png
!docs/readmegfx/KLVDesign.png
!docs/readmegfx/demo1.png
!docs/readmegfx/demo2.png
!docs/readmegfx/demo3.png
!docs/readmegfx/demo4.png
!docs/readmegfx/demo5.png
!run.sh
!samples/Fusion.mp4
!samples/Fusion.raw
!samples/SAMPLES.md
!samples/hero5.mp4
!samples/hero5.raw
!samples/hero6+ble.mp4
!samples/hero6+ble.raw
!samples/hero6.mp4
!samples/hero6.raw
!samples/hero7.mp4
!samples/hero8.mp4
!samples/karma.mp4
!samples/karma.raw
!samples/max-360mode.mp4
!samples/max-heromode.mp4
