---
$header-bg-color: #759957;
$header-bg-color-secondary: #755799;
$section-headings-color: #000000;
---

$header-bg-color: #759957;
$header-bg-color-secondary: #755799;
$section-headings-color: #000000;

@import "{{ site.theme }}";
